@media screen,print{
th{
background:#7C88B0;
color:white;
}
tr th:last-child{
border-top-right-radius:15px;
}
tr th:first-child{
border-top-left-radius:15px;
}
td{
padding:2px;
}
.centrirano{
text-align:center;
}
tr{
background:white;
border:1px solid black;
}

header{
width:100%;
height:100px;
#background:url('../img/bg1.jpg');
background-size:20% 100%;
background-repeat:repeat-x;
}
#wrapper{
width:90%;
height:100%;
display:block;
margin-left:auto;
margin-right:auto;
padding-top:0px;
padding-bottom:0px;
}
footer{
width:100%;
height:100%;
#background:url('../img/foot.png');
padding-top:auto;
padding-bottom:auto;
text-align:center;
display:block;
float:left;
}
section#main{
width:75%;height:100%;
display:block;
margin:0px;padding:0px;
float:left;
}
aside{
border:3px solid #5B7CE7;
display:block;
width:15%;height:100%;
float:left;
background:#E2E6F5;
margin:0px;padding:5px;
border-radius:5px;
box-shadow: 5px 5px 5px #888888;
}
.box{
border-radius:5px;
max-width:60%;
border:1px solid #5B7CE7;
margin-right:auto;
margin-left:auto;
padding-left:10%;
padding-right:10%;
#background:#F6FEC8;
#background-color: rgba(226, 230, 245, 0.5);

background:#E2E6F5;
padding-top:10px;
padding-bottom:10px;
margin-bottom:10px;
#box-shadow: 5px 5px 5px #888888;
#opacity:0.9;
#filter:alpha(opacity=90); /* For IE8 and earlier */


/* Fallback for web browsers that doesn't support RGBa */
    background: rgb(226, 230, 245) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(226, 230, 245, 0.9);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";


}
.zaglavlje
{
border-radius:5px;

border:1px solid #5B7CE7;
margin-right:auto;
margin-left:auto;
padding-left:10%;
padding-right:10%;
#background:#F6FEC8;
#background-color: rgba(226, 230, 245, 0.5);

background:#E2E6F5;
padding-top:10px;
padding-bottom:10px;
margin-bottom:10px;
#box-shadow: 5px 5px 5px #888888;
#opacity:0.9;
#filter:alpha(opacity=90); /* For IE8 and earlier */


/* Fallback for web browsers that doesn't support RGBa */
    background: rgb(226, 230, 245) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(226, 230, 245, 0.9);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";




max-width:100%;
width:100%;
text-align:left;
padding:15px;
padding-bottom:0px;

}

.zaglavlje
{
border-radius:5px;

border:1px solid #5B7CE7;
margin-right:auto;
margin-left:auto;
padding-left:10%;
padding-right:10%;
#background:#F6FEC8;
#background-color: rgba(226, 230, 245, 0.5);

background:#E2E6F5;
padding-top:10px;
padding-bottom:10px;
margin-bottom:10px;
#box-shadow: 5px 5px 5px #888888;
#opacity:0.9;
#filter:alpha(opacity=90); /* For IE8 and earlier */


/* Fallback for web browsers that doesn't support RGBa */
    background: rgb(226, 230, 245) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(226, 230, 245, 0.9);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";




max-width:100%;
width:100%;
text-align:left;
padding:15px;
padding-bottom:0px;

}
cfform{
margin-left:50%;
margin-right:auto;
}
body{
#background:#B7C94F;
background:url('../img/bg1.png');
background-size:100% 100%;
background-attachment:fixed;
}
table#forma * tr{
margin-left:auto;
margin-right:auto;
background:#F6FEC8;
text-align:left;
}
table{
width:100%;
border-spacing: 0px 1px
}
ul
{
list-style-image: url('../img/bullet.png');
padding-top:auto;
padding-bottom:auto;
}
li{
padding-top:auto;
padding-bottom:auto;
}
li:hover{
padding-top:auto;
padding-bottom:auto;
background:white;

}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}
.del{
margin-right:0px;
}
.zeleno{
background:#F6FEC8;
}
input{
#min-width:200px;
}
input[type=submit],input[type=button]{
min-width:50px;
}
.slika{
width:40%;
height:40%;
transition: width 1s;
}
.slika:hover{
width:100%;
height:100%;
}
.textarea{
width:80%;
height:100px;
}
tr.lista{
text-align:center;
}
tr.lista:nth-child(even) {background: #E8EAFE}
tr.lista:nth-child(odd) {background: #FFF}
