*{background-color: rgba(255, 255, 255, 0.9); /* Color white with alpha 0.9*/}
header,section,footer,aside,article,nav,hgroup:display:block;
div{border:0px solid black}
div.box
{
padding:20px;
background:#FFFFFF;
border-radius:10px;
border:1px solid #C0C0C0;
text-align:center;
margin-left:auto;
margin-right:auto;
}
body 
{
/*-webkit-box-orient:vertical;
-moz-orient:vertical;*/
padding-left:auto;
padding-right:auto;
display:-moz-box;
display:-webkit-box;
-webkit-box-pack:center;
-moz-pack:center;
color:black;
width:100%;
-webkit-box-pack:center;
-moz-box-pack:center;
background-color: rgba(255, 255, 255, 0.1);
border:1px solid red;
}
header{
display:-moz-box;
display:-webkit-box;
text-align:center;

width:100%;
-webkit-box-flex:1;
-moz-box-flex:1;
background-size:100% 100%;
background:url('header.png');width:950px;height:100px;background-repeat:no-repeat;display:-webkit-box;display:-moz-box;padding-bottom:40px;

}
#big_wrapper
{
margin-left:auto;
margin-right:auto;
text-align:center;
display:-webkit-box;
display:-moz-box;
-webkit-box-orient:vertical;
-moz-box-orient:vertical;
-webkit-box-flex:1;
-moz-box-flex:1;
max-width:100%;
max-width:1000px;

}
#main_section {
text-align:center;
background:white;
display:-webkit-box;
display:-moz-box;
-webkit-box-orient:horizontal;
-moz-orient:horizontal;
-webkit-box-flex:1;
-moz-box-flex:1;
margin-left:10px;
margin-right:10px;
margin:0px;
width:100%;
}
div#meni{
display:block;
max-width:150px;
margin-right:5px;
background:#F5F5DC;
display:-webkit-box;
-moz-box-flex:1;
-webkit-box-flex:1;
}

article
{padding:10px;
margin-left:auto;
margin-right:auto;
text-align:center;
padding-left:50px;
padding-right:50px;
margin:0px;
display:-webkit-box;
-webkit-box-flex:1;
-moz-box-flex:1;
padding:10px;
margin:10px;
width:50%;
}
footer#the_footer
{
display:block;
text-align:center;
}
p.naslov
{
background:#B0C4DE;
color:#152080;
border-top:1px solid black;
}
tr
{
background:#F5F5DC;
width:100%;
}
td{
text-align:center;
}
th{
background:#778899;
}
a {text-decoration:none;}
.polje
{
text-align:left;
padding:20px;
background:#F5F5DC;
border-radius:2%;
border:1px solid #C0C0C0;
margin:10px;
}
.odsek tr
{
text-align:left;
}
td#pitanje {background: #FFD38D}
table.lista
{
width:100%;
margin-left:auto;
margin-right:auto;
}
th {background:#FEA500}
#avatar
{
position:absolute;
left:10px;
top:10px;
}
li.meni
{
transition-delay: .2s;
list-style:none;
width:100%;
display:block;
margin-left:auto;
margin-right:auto;
}
li.meni:hover
{
border:1px solid #C8CC8C;
background:#F5F5DC;
-moz-transform: scale(1.3);
-webkit-transform: scale(1.3);
}
ul.meni
{
padding-left:0px;
}